body, html {
  font-family: sans-serif;
  margin: 0;
}
.ui-form {
  display: none;
}
#container {
}
#item-data {
  width: 90%;
  float: right;
  position: relative;
}
#item-media {
  float: right;
  height: inherit;
  overflow-y: scroll;
}
.tl-media-content {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}
.tl-caption, .tl-credit {
  margin: auto;
}
#item-media img {
  max-height: inherit;
  max-width: 100%;
}
#item-text {
  overflow-y: scroll;
  height: inherit;
}
#visualization {
  width: 90%;
  float: right;
}
#filters {
  width: 10%;
  height: 100vh;
  float: left;
}
.filter-group {
  border-width: 2px;
  border-style: solid;
  padding: 2px;
  margin: 10px 2px;
  border-radius: 3px;
}
#filters .filter,
#filters .meta-filter {
  border-width: 1px;
  border-style: solid;
  margin: 0.25em 0;
  text-align: center;
  border-radius: 3px;
}
.vis-item {
  font-size: 10pt;
}
.vis-item.hidden { display: none; }
.vis-item .vis-item-content {
  padding: 3px;
}

.cols-2 {
  display: inline-block;
  width: 50%;
}
