/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "fonts";

body, html {
  font-family: sans-serif;
  margin: 0;
}
.ui-form {
  display: none;
}
#container {
}
#ft-item-data {
  width: 70%;
  position: absolute;
  background-color: whitesmoke;
  left: 20%;
  z-index: 3;
  background-size: cover;
  background-position: center;
  display: flex;
}
#ft-item-media-container {
  height: inherit;
  overflow-y: scroll;
  align-items: stretch;
  &>div {
    width: 100%;
  }
}
.tl-media-content {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}
.tl-caption, .tl-credit {
  margin: auto;
}
.tl-media {
  .tl-media-iframe.tl-media-spotify {
    height: 500px;
    max-width: 500px;
    margin: auto;
  }
  .tl-media-twitter {
    blockquote.twitter-tweet {
      margin-bottom: 1em;
    }
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: #55ACEE;
      }
      &.twitter-date {
        padding-bottom: 0.5em;
        display: block;
      }
    }
    span.fn {
      display: block;
      padding-bottom: 0.2em;
    }
  }
}
#ft-item-media img {
  max-height: inherit;
  max-width: 100%;
}
#ft-item-text {
  overflow-y: scroll;
  height: inherit;
  align-items: stretch;
  h1 {
    font-size: 22pt;
    margin-bottom: 0.75em;
    margin-top: 0.5em;
  }
  p {
    line-height: 125%;
    word-break: break-word;
  }
  p.ft-display-date {
    font-style: italic;
    padding-bottom: 0.5em;
  }
}
#ft-visualization {
  width: 90%;
  float: right;
}
$filter-border-style: 1px solid #111;
#ft-filter-container {
  height: 100vh;
  width: 10%;
  float: left;
  overflow-y: scroll;
  #ft-filters {
    &>div:first-of-type {
      border-bottom: $filter-border-style;
      border-top: $filter-border-style;
      margin-top: 10px;
    }
    &>div {
      margin-left: 5px;
      margin-right: 5px;
      padding: 2px 5px;
    }
    &>div:last-of-type {
      border-bottom: $filter-border-style;
      margin-bottom: 10px;
    }
  }
  .clear-filters {
    background-color: #112;
    color: #dde;
    padding: 10px 2px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    width: 90%;
    margin: auto;
  }
}
#ft-filters .filter,
#ft-filters .meta-filter {
  background-color: #f2f2f2;
  margin: 0.25em 0;
  text-align: center;
  border-radius: 3px;
  padding: 1px 2px;
}

.vis-item {
  font-size: 10pt;
}
.vis-item.hidden { display: none; }
.vis-item .vis-item-content {
  padding: 3px;
}
.vis-item.vis-box {
  border-style: none;
  //padding: 1px 3px;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  p {
    white-space: normal;
    line-height: 115%;
  }
}

.ft-cols-2 {
  display: inline-block;
  width: 48%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1em;
  padding-bottom: 1em;
  float: left;
}

.ft-cols-1 {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.ft-vcenter-outer {
  display: table;
  height: 100%;
  table-layout: fixed;
  .ft-vcenter-middle {
    display: table-cell;
    vertical-align: middle;
    .ft-vcenter-inner {}
  }
}

.ft-close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -13px;
  right: 2px;
  text-align: center;
  background-color: #eee;
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
}

#ft-item-text.cols-1 {
  position: absolute;
  height: 100%;
  width: 98%;
  text-align: center;
}

.ft-item-tooltip {
  max-width: 250px;
  h1 {
    font-weight: bold;
    font-size: 130%;
    white-space: normal;
  }
}

.ft-data-active {
  visibility: visible;
  -webkit-filter: blur(0px);
  opacity: 1;
  transition: all 0.3s ease;
}

.ft-data-inactive {
  visibility: hidden;
  -webkit-filter: blur(20px);
  opacity: 0;
  transition: all 0.5s ease;
}

#ft-loading {
  width: 100%;
  height: 100vh;
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  text-align: center;
  &.ft-inactive {
    display: none;
  }
}

#ft-nav-buttons {
  position: absolute;
  top: 0;
  left: 11%;
  z-index: 10;
  div.ft-nav-button {
     cursor: pointer;
     padding: 3px;
     position: absolute;
     height: 20px;
     width: 20px;
     text-align: center;
  }
  #ft-nav-zoom-in {
    top: 0;
    left: 26px;
  }
  #ft-nav-zoom-out {
    top: 52px;
    left: 26px;
  }
  #ft-nav-right {
    top: 26px;
    left: 52px;
  }
  #ft-nav-left {
    top: 26px;
    left: 0px;
  }
}
